<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Favorites Page</span>
    <span class="spacer"></span>
    <button mat-raised-button (click)="navigate()">
      <mat-icon style="margin-right: 5px;">home</mat-icon>
      Home Page
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="wrapper">
  <h1 *ngIf="this.favBooks.length === 0">
    No favorite books added, click on the heart icon to add your favorite books
  </h1>
  <mat-card class="example-card" *ngFor="let i of favBooks">
    <mat-card-header>
      <mat-card-title class="title-and-remove">{{ i[0] }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ i[2] }}" />
    <mat-card-actions>
      <button
        mat-stroked-button
        color="warn"
        class="title-and-remove"
        (click)="removeFromFavorites(i)"
      >
        Remove from favorites
      </button>
    </mat-card-actions>
  </mat-card>
</div>
