<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Home Page</span>
    <span class="spacer"></span>
    <button mat-raised-button (click)="navigate()">
      <mat-icon style="margin-right: 5px;">favorites</mat-icon>
      Favorites Page
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="search">
  <mat-form-field>
    <mat-icon matPrefix style="margin: 0 10px;">search</mat-icon>

    <input
      matInput
      type="search"
      placeholder="search here"
      class="search-input"
      [formControl]="search"
    />
  </mat-form-field>
  <button
    mat-stroked-button
    color="primary"
    (click)="searchBook(this.search.value)"
    style="margin: 0 10px"
    [disabled]="this.search.value.length === 0"
  >
    Search
  </button>
</div>

<mat-accordion
  *ngFor="
    let i of booksServiceSearchDuplicate
      | paginate
        : {
            itemsPerPage: 8,
            currentPage: p
          }
  "
>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon style="margin-right: 10px">chrome_reader_mode</mat-icon>
        {{ i[0] }}
      </mat-panel-title>

      <mat-icon
        *ngIf="checkIfInFav(i)"
        style="margin-right: 10px"
        (click)="removeFromFav(i)"
        >favorite</mat-icon
      >
      <mat-icon
        *ngIf="!checkIfInFav(i)"
        style="margin-right: 10px"
        (click)="addBookToFav(i)"
        >favorite_border</mat-icon
      >
    </mat-expansion-panel-header>

    <h3>Description</h3>
    <p>{{ i[1] || "Description not found" }}</p>
    <img src="{{ i[2] }}" />
  </mat-expansion-panel>
</mat-accordion>
<pagination-controls
  (pageChange)="p = $event"
  *ngIf="this.booksServiceSearchDuplicate.length !== 0"
  class="pagination"
></pagination-controls>
